# Files to always ignore
.DS_Store
*.[oa]
*~

# Files generated automatically
Files/.CloverTools
Files/.gccVersion

# Directories that we doesn't need to track
builtPKG/
src/
Toolchain/
EFI/
Clover_ovmf-qemu/
qemu/
GCC48.rb